/*
Colours used:



*/

/* Start Main layout Styling */
body {
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-weight: 550;
  line-height: 1.6;
  font-family: "Bangers", "cursive";
}

.list-group {
  margin-top: 60px;
  overflow-y: auto;
  height: 640px;
}

.page-footer {
  clear: both;
  background-color: red;
  text-align: center;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

/* End Main layout Styling */

/* Responsive layout start */
@media all and (max-width: 400px) {
  .list-group {
    height: 490px;
  }
}
/* Responsive layout finish */
